<!DOCTYPE html>
<html>
  <head>
    <title>Alunos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <h1><%= dadosDaView %></h1>
    <p>Welcome to</p>
  </body>
</html>
