<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listagem de Alunos</title>


  <link rel='stylesheet' href="../public/stylesheets/style.css" />
  <link rel='stylesheet' href="../node_modules/bootstrap/dist/css/bootstrap.css" />
  <script src="/public/javascripts/jquery-3.5.1.min.js"></script>   
  
  
</head>

<body>
  
  <!-- --------------------------------------------------------------- -->
  <!-- Apresentação da tabela conforme dados recebidos em              -->
  <!-- topoTabela e dadosGerais                                        -->
  <h1>Listagem dos Alunos da turma: <%= turmaTarefas %></h1>
  <table>
    <thead>
      <tr><%- topoTabela %></tr>
    </thead>
    <tbody>
      <%- dadosGerais %>
    </tbody>
  </table>
  <!-- --------------------------------------------------------------- -->
  
  <!-- --------------------------------------------------------------- -->
  <!-- modal para entrada dos dados da entrega da tarefa               -->
  <!--                                                                 -->
  <div id="modal-tarefa" class="modal-container">
    <div class="modalTarefaAluno">

        <p id="alunoTarefa">--------</p>
        <p id="dataTarefa">---------</p>
        <label style="line-height:0;" >Entrega: </label>                             
        <input type="date" class="form-control imput1" id="dataTarefaAluno">
        <br>
        <!--<label style="line-height:0;" >Nota..: </label>                         
        <input type="text" label="Nota" class="s"  name="xconceito">-->
        
        <p>Conceito:<br>
         <select id="conceitoTarefaAluno" class="form-control" name="conceito">
          <option>   </option>
          <option value="1">1 - Inválido</option>
          <option value="2">2 - Péssimo</option>
          <option value="3">3 - Muito Ruim</option>
          <option value="4">4 - Fraco</option>
          <option value="5">5 - Regular</option>
          <option value="6">6 - Bom</option>
          <option value="7">7 - Muito Bom</option>
          <option value="8">8 - Ótimo</option>
          <option value="9">9 - Exelente</option>
          <option value="10">10 - Perfeito</option>
        </select>
    
      
      <div class="alinhaLinha">
        <button id="btLimpa" class="btPqBase btVermelho excluiTarefa">Limpar</button>
        <button id="btGrava" class="btPqBase btAzul editaAlteraTarefa">Gravar</button>
        <button id="btCancela" class="btPqBase btVerde" 
        onclick="fechaTarefaAluno()">Cancelar</button>
        
      </div>
    </div>
  </div>
  <!-- --------------------------------------------------------------- -->
 
 

  <script>
  
    //--------------------------------------------------------------------------
    // Variaveis Globais
    //
    var alunoid = 0;
    var tarefaid = 0;
    var entregaid = 0;
    // -------------------------------------------------------------------------


    // -------------------------------------------------------------------------
    // Função para incluir o evento onClick em todos os botoes da classe btTarefa
    //
    const botao = document.querySelectorAll('.btTarefa');
    for (var i = 0; i < botao.length; i++) {
      const textox = document.getElementById(botao[i].id).innerText;
      // botao[i].classList.add('red'); para adicionar outras classes
      botao[i].addEventListener("click",(e) => {
        abreTarefaAluno(textox,e.target.id);
      });
    }
    

    // -------------------------------------------------------------------------
    // Função para mostrar o modal de entrada de data e conceito
    // quando o botão referente a tarefa na tabela for clicado
    //
    function abreTarefaAluno (textox,btId){
      alunoid = parseInt(btId.substr(1,2), 10);
      alunoidElement = "idANm" + btId.substr(1,2);
      tarefaid = parseInt(btId.substr(4,2), 10);
      tarefaDataElement = "idT" + btId.substr(4,2);
      entregaid = parseInt(btId.substr(7,4), 10);
      document.getElementById("alunoTarefa").innerText = 
        document.getElementById(alunoidElement).innerText
      document.getElementById("dataTarefa").innerText = 
        document.getElementById(tarefaDataElement).innerText
      if (textox.match("Entregue")) {
        document.getElementById("dataTarefaAluno").value =" Não Entregou ";
        document.getElementById("conceitoTarefaAluno").value ="";
      } else {
        document.getElementById("dataTarefaAluno").value = toDate(textox.substr(0,10));
        document.getElementById("conceitoTarefaAluno").value = textox.substr(13,2).trim();
        console.log("-",textox.substr(13,2).trim(),"-");
//        document.getElementById("conceitoTarefaAluno").value = textox.substr(13,2);
      }
      document.getElementById("modal-tarefa").classList.add("mostrar");
    }
    // -------------------------------------------------------------------------


    // -------------------------------------------------------------------------
    // Função para fechar o modal de entrada de data e conceito
    //
    function fechaTarefaAluno (){
      document.getElementById("modal-tarefa").classList.remove("mostrar");
    }
    // -------------------------------------------------------------------------

    // -------------------------------------------------------------------------
    // Função para alterar formato da data
    //
    function toDate(dateStr) {
      var parts = dateStr.split("/");
      return (parts[2] +"-" + parts[1] +"-" + parts[0]);
    }
    // 


    // -------------------------------------------------------------------------
    // Função para gravar os dados da tarefa entregue
    //
    $(document).ready(function(){
      $('.editaAlteraTarefa').on('click',function(){
        var dataentrega = document.getElementById("dataTarefaAluno").value;
        var conceito = parseInt(document.getElementById("conceitoTarefaAluno").value, 10);
        var url = '/tarefaAluno';
        let grava = true;
        if ( isNaN(conceito) || conceito <=0 || conceito > 10) {
          alert("conceito inválido " + conceito);
          grava = false;
        }
        if (grava) {
          if (entregaid != 0) {
            url = url + "/" + entregaid;
          }
          $.ajax({
            url: url, //selecionando o endereço que iremos acessar no backend
            type: 'POST', //selecionando o tipo de requesição, PUT,GET,POST,DELETE
            dataType: "json",//Tipo de dado que será enviado ao servidor
            data: {"obs":"pelo sistema", "dataEntrega":dataentrega,"conceito":conceito,"idAluno":alunoid,"idTarefa":tarefaid}, // { itens: [ { dataEntrega: '1920-02-02', obs: 'CONSEGUI' } ] }
            error: function(err){
              //Em caso de erro
              console.log(err);
            }
          }).done(function(){
            window.location.reload()
          });
        }
      });
    });
    // -------------------------------------------------------------------------


    // -------------------------------------------------------------------------
    // Função para excluir os dados de uma tarefa entregue
    //
    $(document).ready(function(){
      $('.excluiTarefa').on('click',function(){
        var url = '/tarefaAluno/'+ entregaid;
        var apaga=confirm("Deseja realmente apagar esta tarefa?");
        if (apaga) {
          $.ajax({
            url: url, //selecionando o endereço que iremos acessar no backend
            type: 'DELETE', //selecionando o tipo de requesição, PUT,GET,POST,DELETE
            dataType: "json",//Tipo de dado que será enviado ao servidor
            data: {},
            error: function(err){
              //Em caso de erro
              console.log(err);
            }
          }).done(function(){
            window.location.reload()
          });
        };
      });
    });
    // -------------------------------------------------------------------------

  </script>

</body>

</html>
