<!DOCTYPE html>
<html>
  <head>
    <title>Listagem de Alunos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Listagem dos Alunos</h1>
  
    <table>
      <thead>
          <tr>
              <th>Nome______________________________________</th>
              <th>Numero   </th>
              <th>Turma</th>
          </tr>
      </thead>
      <tbody>
      <% for(let item of dadosDosAlunos) { %>
          <tr>
              <td><%= item.nome %></td>
              <% for(let tarefa of dadosDasTarefas) { %>
              <td>data:<%= tarefa.dataPedida %></td>
              <% } %>
          </tr>
      <% } %>
      </tbody>
  </table>

  </body>
</html>
